<div class="column is-one-quarter">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <% if show_link %>
          <%= link_to customer.full_name, customer %>
        <% else %>
          <%= customer.name %>
        <% end %>
      </p>
      <% if customer.image.present? %>
        <div class="card-image">
          <figure class="image">
          <%= image_tag customer.image %>
          </figure>
        </div>
    <% end %>

      <p>Notes: <%= customer.notes %></p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        Phone number: <br><%= customer.phone_number %>
      </p>
      <p class="card-footer-item">
        Email Address: <br><%= customer.email_address %>
      </p>
    </footer>
  </div>
</div>